<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewSnippetInfoUnit()">New Snippet Info Unit</button>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-sm-7">
    <input
      type="text"
      id="searchingText"
      class="form-control"
      name="codeSnippets"
      [(ngModel)]="searchingText">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-code-snippet-item
      *ngFor="let codeSnippetEl of codeSnippets | snippetFilter:searchingText"
      [infoUnit]="codeSnippetEl">
    </app-code-snippet-item>
  </div>
</div>
